/* base: #F2994A */
/* T1: #8476AA; */
/* T2: #99EFD0 */

body {
   width: 100%;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   background-color: #3B1D60 !important;
   display: flex;
   justify-content: center;
   font-family: 'Inter' !important;
}

.content-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   background-color: #3B1D60;
   font-family: 'Inter' !important;
}

.header {
   width: 1090px;
   background-color: #3B1D60;
   margin-top: 78px;
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
}

.header-first {
   display: flex;
}

.header-navigation {
   display: flex;
   align-items: center;
}

.header-navigation-item {
   text-transform: uppercase;
   margin-right: 15px;
   color: #B5B5B5;
   font-size: 0.75rem;
}

.header-singin-button {
   background-color: transparent;
   border: 1px solid #F2994A;
   color: #F2994A;
   width: 112px;
   height: 36px;
   margin-right: 20px;
   font-family: 'Rubik';
   text-transform: uppercase;
   font-size: 12px;
}

.header-singup-button {
   background-color: #F2994A;
   color: white;
   width: 112px;
   height: 36px;
   border: none;
   font-family: 'Rubik';
   text-transform: uppercase;
   font-size: 12px;
}

.main-first-block {
   width: 1090px;
   display: flex;
   flex-direction: row;
   margin-top: 68px;
   margin-right: 10px;
}

.main-first-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 100px;
   width: 640px;
}

.main-first-title {
   width: 100%;
   font-size: 44px;
   line-height: 50px;
   font-weight: 700;
   color: #99EFD0;
}

.svg-sportsmen-pointer {
   padding-left: 20px;
}

.main-first-text {
   color: #8476AA;
   font-size: 1.1rem;
   line-height: 22px;
   margin-top: 19px;
   font-weight: 600;
}

.main-first-buttons {
   margin-top: 40px;
   flex-direction: start;
   width: 100%;
}

.main-first-button-learn-more {
   background-color: #F2994A;
   color: white;
   border: none;
   font-family: 'Rubic';
   font-size: 12px;
   text-transform: uppercase;
   width: 157px;
   height: 46px;
   margin-right: 20px;
   font-weight: 500;
}

.main-first-button-demo {
   border: 1px solid #F2994A;
   color: #F2994A;
   background-color: transparent;
   font-family: 'Rubic';
   font-size: 12px;
   text-transform: uppercase;
   width: 157px;
   height: 46px;
   font-weight: 500;
}

.main-first-video {
   display: flex;
   width: 100%;
}

.main-first-video-icon {
   display: flex;
   flex-direction: row;
   margin-top: 60px;
   align-items: center;
}

.main-first-video-wrapper {
   background-color: #3f216d;
   border-radius: 4px;
   width: 180px;
   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.main-first-video-text {
   color: #8476AA;
   font-family: 'Rubik';
   margin-left: 20px;
}

.main-first-video-purview {
   color: #6D6D78;
   margin-left: 20px;
   font-size: 14px;
}

.main-second-block-background {
   background-image: url(./images/background1.svg);
   background-repeat: no-repeat;
   width: 100%;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-second-block {
   width: 1080px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 91px;
}

.main-second-navigation {
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
}

.main-second-navigation-company {
   margin-right: 74px;
   filter: invert(54%) sepia(13%) saturate(980%) hue-rotate(215deg) brightness(88%) contrast(94%);
}

.main-second-navigation-company:last-child {
   margin-right: 0px;
   filter: invert(54%) sepia(13%) saturate(980%) hue-rotate(215deg) brightness(88%) contrast(94%);
}

.main-second-choice {
   width: 997px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-second-choice-title {
   font-weight: 700;
   font-size: 42px;
   line-height: 50px;
   color: #99EFD0;
}

.main-second-choice-text {
   color: #8476AA;
   font-family: "Inter";
   margin-top: 13px;
}

.main-second-informations-blocks {
   display: flex;
   flex-direction: column;
}

.main-second-information-first-row {
   display: flex;
   flex-direction: row;
   margin-top: 50px;
}

.main-second-information-second-row {
   display: flex;
   flex-direction: row;
   margin-top: 35px;
}

.main-second-information-block {
   display: flex;
   width: 300px;
   margin-right: 50px;
}

.main-second-information-block:last-child {
   display: flex;
   margin-right: 0px;
}

.main-second-information-block-img {
   width: 100px;
}

.main-second-information-block-text {
   display: flex;
   flex-direction: column;
}

.main-second-information-text-title {
   color: #99EFD0;
   font-size: 1.125rem;
}

.main-second-information-text-info {
   color: #8476AA;
   font-size: 0.875rem;
}

.main-third-block {
   width: 100%;
   padding-top: 150px;
   min-height: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url(./images/background2.svg);
   background-repeat: no-repeat;
   background-position-y: 430px;
}

.main-third-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-third-text-information {
   width: 470px;
}

.main-third-text-title-basic {
   color: #99EFD0;
   font-family: 'Inter';
   font-size: 42px;
   line-height: 50px;
   font-weight: 700;
}

.main-third-text-title-yellow {
   color: #F2994A;
   font-family: 'Inter';
   font-size: 42px;
   line-height: 50px;
   font-weight: 700;
}

.main-third-text {
   color: #8476AA;
   font-size: 15px;
   line-height: 28px;
   margin-top: 32px;
}

.main-third-text-button {
   width: 155px;
   height: 48px;
   border-radius: 3px;
   background-color: #F2994A;
   color: white;
   border: none;
   margin-top: 43px;
}

.main-third-block-buy-computer {
   width: 1091px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 200px;
}

.main-third-buy-computer-title {
   width: 864px;
   text-align: center;
}

.main-third-buy-computer-text {
   width: 420px;
   color: #8476AA;
   font-size: 15px;
   line-height: 28px;
   margin-top: 32px;
   text-align: center;
}

.main-third-buy-computer-ways {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-top: 46px;
}

.main-third-buy-computer-way {
   width: 291px;
   height: 118px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-third-buy-computer-way-title {
   font-family: "Inter";
   font-size: 36px;
   font-weight: 700;
   line-height: 42px;
   color: #99EFD0;
   text-align: center;
   margin-bottom: 16px;
}

.main-third-buy-computer-way-text {
   color: #8476AA;
   font-size: 15px;
   line-height: 20px;
   text-align: center;
}

.main-third-block-startup {
   width: 770px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 169px;
   z-index: 2;
}

.main-third-block-startup-text {
   margin-bottom: 46px;
   text-align: center;
}

.main-third-background-group {
   position: relative;
   top: -12%;
}

.main-fourth-block {
   width: 100%;
   display: flex;
   justify-content: center;
}

.main-fourth-block-wrapper {
   width: 1313px;
   display: flex;
   justify-content: end;
   background-image: url('./images/backgroundworld.svg');
   background-repeat: no-repeat;
   background-position-x: right;
}

.main-fourth-block-text-information {
   width: 470px;
   margin-right: 25px;
}

.main-fourth-block-text-title {
   margin-bottom: 32px;
}

.main-fourth-block-text {
   color: #8476AA;
   font-size: 15px;
   line-height: 20px;
}

.main-fourth-block-images {
   padding-left: 90px;
   margin-right: 100px;
}

.main-fifth-block {
   background-image: url('./images/background4.svg');
   background-repeat: no-repeat;
   background-position-x: right;
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 150px;
}

.main-fifth-block-wrapper {
   width: 1091px;
   display: flex;
   justify-content: space-between;
}

.main-fifth-block-text-information {
   display: flex;
   flex-direction: column;
   margin-top: 80px;
   margin-left: 90px;
}

.main-fifth-block-title {
   font-size: 26px;
   line-height: 32px;
   font-family: "Inter";
   font-weight: 700;
   color: #99EFD0;
}

.main-fifth-block-text {
   color: #8476AA;
   font-size: 15px;
   font-weight: 20px;
   margin-top: 32px;
}

.main-fifth-block-parts {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}

.main-fifth-block-part {
   display: flex;
   flex-direction: column;
   margin-right: 30px;
}

.main-fifth-block-part-img {
   width: 36px;
   height: 36px;
   margin-bottom: 16px;
}

.main-fifth-block-part-title {
   color: #99EFD0;
   font-size: 15px;
   line-height: 18px;
   margin-bottom: 6px;
}

.main-fifth-block-part-text {
   color: #8476AA;
   font-size: 15px;
   line-height: 20px;
}

.main-sixth-block {
   background-image: url('./images/background5.svg');
   background-repeat: no-repeat;
   width: 100%;
   height: 600px;
   margin-top: 40px;
}

.main-sixth-block-wrapper {
   background-image: url('./images/background6.svg');
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: center;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-sixth-block-content {
   width: 940px;
   height: 350px;
   background: rgba(52, 54, 117, 0.19);
   backdrop-filter: blur(14px);
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-sixth-block-content-title {
   margin-top: 50px;
   color: #F2994A;
   font-size: 36px;
   line-height: 43px;
   font-weight: 500;
   font-family: "Rubik";
}

.main-sixth-block-content-text {
   color: #95A1BB;
   font-size: 16px;
   line-height: 22px;
   font-family: "Rubik";
   margin-top: 20px;
   margin-bottom: 23px;
   width: 396px;
   text-align: center;
}

.main-sixth-block-content-email {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-block-email-block {
   display: flex;
}

.main-block-email-input {
   width: 288px;
   height: 56px;
   padding-left: 15px;
   background-color: rgba(81, 83, 154, 0.19);
   border: none;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.main-block-email-button {
   width: 128px;
   height: 56px;
   font-family: "Rubik";
   font-size: 12px;
   text-transform: uppercase;
   background-color: #F2994A;
   color: white;
   border: none;
   font-weight: 500;
}

.main-block-email-text {
   margin-top: 16px;
   color: #8476AA;
   font-size: 14px;
   line-height: 20px;
}

.bottom-block {
   width: 100%;
   background-image: url('./images/background7.svg');
   background-repeat: no-repeat;
   background-position-x: start;
   margin-top: 52px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.bottom-block-wrapper {
   width: 992px;
   display: flex;
   flex-direction: column;
}

.bottom-block-first {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 95px;
}

.bottom-block-first-name {
   color: #F2994A;
   font-size: 26px;
   line-height: 32px;
   font-weight: 700;
   font-family: "Inter";
}

.bottom-block-first-social-img {
   margin-right: 15px;
}

.bottom-block-first-social-img:last-child {
   margin-right: 0px;
}

.bottom-block-second {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 120px;
}

.bottom-column {
   display: flex;
   flex-direction: column;
}

.bottom-column-title {
   color: white;
   font-size: 15px;
   font-weight: 700;
   line-height: 18px;
   font-family: "Inter";
}

.bottom-column-item {
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
   font-family: "Inter";
   margin-top: 25px;
   color: white;
}

.bottom-block-third {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 100px;
}

.bottom-third-item {
   color: #8D8D8D;
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
   font-family: "Inter";
   margin-right: 32px;
}

.bottom-third-item:last-child {
   color: #8D8D8D;
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
   font-family: "Inter";
   margin-right: 0px;
}